@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500;600&display=swap');

$margin-ul:16px;
$padding-menu: $margin-ul;

body{
  font-family: 'Inter' ,sans-serif;
}
ul {
  display: flex;
  align-items: center;
}

.font-links{
  font-weight: 600;
}

//ul li{
//  display: flex;
//  list-style: none;
//  padding-right: 40px;
//  font-weight: 600;
//  font-size: 18px;
//  align-items: center;
//}

